.title {
    text-decoration: none;
    position: relative; /* Add position relative for pseudo-element */
  }
  
  .title::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #3cd2ff;
  }
  